@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --background: #f5f4f6;
    --foreground: #1a1d1f;

    --background-top: #ffffff;
    --foreground-top: #888888;

    --card: #ffffff;
    --card-foreground: #0a0a0a;

    --popover: #ffffff;
    --popover-foreground: #0a0a0a;

    /* --primary: #181818; */
    /* --primary-foreground: #fafafa; */
    --primary: #9747ff;
    --primary-foreground: #fafafa;

    --secondary: #f5f5f5;
    --secondary-foreground: #181818;

    --muted: #f5f5f5;
    --muted-foreground: #737373;

    --accent: #f5f5f5;
    --accent-foreground: #181818;

    --destructive: #d32f2f;
    --destructive-foreground: #fafafa;

    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #0a0a0a;

    --radius: 0.5rem;

    --sidebar-background: #fafafa;
    --sidebar-foreground: #404040;
    --sidebar-primary: #1a1a1a;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f4f4f4;
    --sidebar-accent-foreground: #1a1a1a;
    --sidebar-border: #e2e2e2;
    --sidebar-ring: #3b82f6;
  }

  .dark {
    --background: #1f2128;
    --foreground: #888888;

    --background-top: #242731;
    --foreground-top: #fafafa;

    --card: #0a0a0a;
    --card-foreground: #fafafa;

    --popover: #0a0a0a;
    --popover-foreground: #fafafa;

    /* --primary: #181818; */
    --primary: #9747ff;
    --primary-foreground: #fafafa;
    /* --primary-foreground: #181818; */

    --secondary: #262626;
    --secondary-foreground: #fafafa;

    --muted: #262626;
    --muted-foreground: #a2a2a2;

    --accent: #262626;
    --accent-foreground: #fafafa;

    --destructive: #a52a2a;
    --destructive-foreground: #fafafa;

    --border: #262626;
    --input: #262626;
    --ring: #d3d3d3;

    --sidebar-background: #242731;
    --sidebar-foreground: #888888;
    --sidebar-primary: #4e8cc6;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #262626;
    --sidebar-accent-foreground: #f4f4f4;
    --sidebar-border: #343333;
    --sidebar-ring: #3b82f6;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .debug {
    @apply border border-red-200;
  }

  .box {
    @apply bg-white rounded-lg;
  }
}
